@use '../abstracts/index.scss' as *;

.our-contactinfo {
  width: 100%;
  height: 60vh;
  padding: 50px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1100px) {
    flex-wrap: wrap;
    height: auto;
  }
  @media (max-width: 990px) {
    flex-direction: column;
  }
  & > div {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border: 2px solid $border-color-2;

    @media (max-width: 1100px) {
      width: 45%;
      margin: 20px;
      padding: 50px 20px;

      &:nth-child(3) {
        width: 100%;
      }
    }
    @media (max-width: 990px) {
      width: 100%;
      margin: 20px 0px;
    }
    &:hover {
      i {
        background-color: $primary-color;
        color: $white-color;
      }
    }

    h5 {
      font-size: 25px;
      margin: 20px 0px;
      text-align: center;
    }

    p {
      font-size: 1.2rem;
      text-align: center;
      @media (max-width: 990px) {
        font-size: 1rem;
      }
    }

    i {
      font-size: 30px;
      color: $primary-color;
      transition: all 0.3s ease-in-out;
      border: 1px solid $primary-color;
      padding: 30px;
      border-radius: 100%;
    }
  }
}

.contact-form {
  padding: 40px 0px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form-container {
    padding: 40px 40px;
    background: #fff;
    border-radius: 8px;
    width: 100%;

    h2 {
      margin-bottom: 30px;
      font-weight: 600;
      @media (max-width: 990px) {
        text-align: center;
      }
    }

    .contactform {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .half-inputs {
        display: flex;
        gap: 20px;
        @media (max-width: 450px) {
          flex-direction: column;
        }
        > div {
          flex: 1;
        }
      }
    }
  }
}

.inputBox {
  input,
  select,
  textarea {
    width: 100%;
    padding: 10px;
    background-color: $bg-color;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    transition: border-color 0.3s;
    resize: vertical;

    &.error-border {
      border-color: #8b1c0f;
    }

    &:focus {
      border-color: #798ea7;
      outline: none;
      resize: vertical;
    }
  }
  textarea {
    min-height: 100px;
    max-height: 500px;
  }
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #444;
}

.error {
  color: #e74c3c;
  margin-top: 0.25rem;
  display: block;
}

.submit-btn {
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}
.map-wrapper {
  @media (max-width: 450px) {
    height: 40vh !important;
    padding: 0px !important;
  }
}
