@use "../abstracts/index.scss" as *;

.our-contactinfo {
  width: 100%;
  height: 60vh;
  padding: 50px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > div {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border: 2px solid $border-color-2;
    &:hover {
      i {
        background-color: $primary-color;
        color: $white-color;
      }
    }
    & > h5 {
      font-size: 25px;
      margin: 20px 0px;
    }
    & > p {
      font-size: 1.2rem;
      text-align: center;
    }
    i {
      font-size: 30px;
      color: $primary-color;
      transition: all 0.3s ease-in-out;
      border: 1px solid $primary-color;
      padding: 30px;
      border-radius: 100%;
    }
  }
}

.contact-form {
  padding: 40px 0px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  padding: 40px 40px;

  background: #fff;
  border-radius: 8px;
  width: 100%;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

.inputGroup {
  margin-bottom: 1.5rem;
  input {
    border: none !important;
  }
}
.inputBox input:focus,
.inputBox select:focus,
.inputBox textarea:focus {
  border-color: #798ea7;
  outline: none;
  resize: vertical;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #444;
}

.inputBox input,
.inputBox select,
.inputBox textarea {
  width: 100%;
  padding: 0.75rem;
  background-color: $bg-color;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.error {
  color: #e74c3c;
  margin-top: 0.25rem;
  display: block;
}

.inputBox input.error-border,
.inputBox select.error-border,
.inputBox textarea.error-border {
  border-color: #8b1c0f;
}

.submit-btn {
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}
