@use '../abstracts/index.scss' as *;

.forgotPassword,
.resetPassword {
  @include flex-layout(column, center, center);
  height: 100vh;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 800px) {
    height: 70vh;
  }

  @media (max-width: 560px) {
    width: 100% !important;
    height: 60vh;
    margin: 0px;
  }

  .formContainer {
    @include flex-layout(column, center, center);
    padding: 30px;
      background-color: $bg-color;

    border: 2px solid $border-color-2;
    min-width: 40%;
    @media (max-width: 560px) {
      width: 100% !important;
    }

    form {
      @include flex-layout(column, center, center);
      width: 100%;
      gap: 30px;

      .title {
        font-size: 30px;
        margin-bottom: 30px;
        color: $primary-color;

        text-align: center;
        @media (max-width: 560px) {
          font-size: 30px;
        }

        @media (max-width: 445px) {
          font-size: 25px;
        }
      }

      .subtitle {
        text-align: center;

        @media (max-width: 445px) {
          font-size: 20px;
        }
      }

      button {
        position: relative;
        background: #e72463;
        overflow: hidden;
        padding: 13px 40px;
        color: $white-color;
        border: none;
        cursor: pointer;
        z-index: 1;
        width: 100%;

        &::after {
          content: '';
          position: absolute;
          z-index: -1;
          width: 0%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: $bg-color-2;
          transition: all 0.4s ease;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }

    a {
      color: $primary-color;
    }

    .additionalContainer {
      @include flex-layout(row, space-between, center);
      width: 100%;
    }
  }
}
.resetPassword .formContainer {
  @media (max-width: 1000px) {
    width: 70%;
  }
}
