@use "../abstracts/Variables" as *;

.login-container {
  padding: 20px;
  width: 40%;
  margin: 110px auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  background-color: $bg-color;
  & > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    h2 {
      font-size: 2rem;
      font-weight: 600;
      color: $primary-color;
    }
  }
  .login-button {
    background-color: $primary-color;
    color: $white-color;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: none;
    // &:hover{
    //     background-color: $white-color;
    //     color: $primary-color;
    //     border: 1px solid $primary-color;
    // }
  }
}
