@use '../abstracts/index.scss' as *;

.login-container,
.register-container {
  padding: 20px;
  width: 30vw;
  margin: 110px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $bg-color;
  @media (max-width: 1200px) {
    margin: 50px auto;
    width: 50vw;
  }
  @media (max-width: 700px) {
    margin: 50px auto;
    width: 70vw;
  }
  @media (max-width: 480px) {
    width: 100vw;
  }
  & > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px;
    h2 {
      font-size: 2rem;
      font-weight: 600;
      color: $primary-color;
    }
  }
  .login-button,
  .register-button {
    background-color: $primary-color;
    color: $white-color;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: none;
    // &:hover{
    //     background-color: $white-color;
    //     color: $primary-color;
    //     border: 1px solid $primary-color;
    // }
  }
  .login-form,
  .register-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .login-checkbox {
      display: flex;
      justify-content: space-between;
      // gap: 10px;
    }
  }
  .checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .termsLabel {
    div {
      display: flex;
      gap: 5px;
    }
  }
  .forgot-password-link {
    color: $primary-color;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
  }
}

