@use '../abstracts/index.scss' as *;

.single-product-page {
  width: 100%;
  height: 100%;

  .product-wrapper {
    width: 100%;
    height: 80vh;
    @include flex-layout(row, flex-start, stretch);

    @media (max-width: 1000px) {
      flex-direction: column;
      height: auto;
      padding: 40px 0px;
    }

    img {
      width: 50%;
      height: 100%;
      object-fit: cover;

      @media (max-width: 1170px) {
        width: 30%;
        height: 70%;
        margin: auto 20px;
      }

      @media (max-width: 1000px) {
        width: 50vw;
        height: 50vh;
        margin: auto;
      }

      @media (max-width: 580px) {
        width: 100vw;
      }
    }

    .product-details {
      @include flex-layout(column, center, flex-start);
      gap: 40px;
      padding: 20px 40px;

      h2 {
        font-size: 44px;
      }

      .price {
        font-size: 30px;
        letter-spacing: 2px;
      }

      .descp {
        font-size: 20px;
        line-height: 30px;

        @media (max-width: 580px) {
          font-size: 18px;
        }
      }

      .rating {
        color: rgb(211, 211, 41);
      }

      .add-to-cart {
        @include flex-layout(row, flex-start, center);
        gap: 30px;

        @media (max-width: 580px) {
          gap: 10px;
        }

        .amount-chooser {
          input {
            padding: 10px;
            width: 100px;
          }
        }

        button {
          cursor: pointer;
        }

        .btn1,
        .btn2 {
          @media (max-width: 580px) {
            padding: 10px;
          }
        }
      }
    }
    .stock-status {
      font-size: 20px;
    }
  }

  .product-price {
    @include flex-layout(row, flex-start, center);
    gap: 10px;
    font-size: 30px;

    .sale-price {
      font-weight: bold;
    }

    .original-price {
      font-size: 18px;
      text-decoration: line-through;
      margin-top: 10px;
    }
  }
}
