@use '../abstracts/index.scss' as *;

.cart-table {
  width: calc(100% - 80px);
  border-collapse: collapse;
  margin: 50px auto 0;

  @media (max-width: 800px) {
    width: auto;
  }

  th,
  td {
    border: 2px solid rgba(4, 4, 4, 0.075);
    padding: 10px;
    text-align: center;
  }

  td {
    height: 200px;
  }

  th {
    color: rgb(0, 0, 0);
  }

  .product-info {
    @include flex-layout(row, center, center);
    gap: 20px;

    .name-row {
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }

    .delete-button {
      background: transparent;
      border: none;
      font-size: 22px;
      color: rgb(139, 136, 136);
      cursor: pointer;
    }
  }

  @media (max-width: 800px) {
    display: block;
    width: calc(100% - 80px);

    thead {
      display: none;
    }

    tbody {
      @include flex-layout(column, flex-start, stretch);
      gap: 20px;
    }

    tr {
      @include flex-layout(column, flex-start, stretch);
      background-color: #f9f9f9;
      padding: 15px;
      border: 1px solid #ddd;
    }

    td {
      @include flex-layout(row, space-between, center);
      padding: 10px 0;
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      height: auto;

      @media (max-width: 800px) {
        display: block;
      }

      &::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: capitalize;
        margin-right: 10px;
        flex-basis: 50%;
        color: #333;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
