@use "../abstracts/index.scss" as *;

.inputGroup {
  @include flex-layout(column, flex-start, stretch);
  width: 100%;

  .label {
    font-weight: 500;
    color: $primary-color;
  }

  .inputBox {
    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      font-size: 1rem;
      transition: border-color 0.2s ease;
      outline: none;

      &.error {
        border-color: rgb(160, 0, 0);
        font-weight: 600;
      }

      &:focus {
        border-color: $primary-color;
        outline: none;
      }
    }
  }

  .error {
    border-color: rgb(219, 13, 13);
    font-weight: 600;
  }
}
