@use '../abstracts/index.scss' as *;

.our-history {
  @include flex-layout(column, center, center);
  width: 100%;
  gap: 30px;
  text-align: center;
  padding: 100px 250px;

  @media (max-width: 1200px) {
    padding: 100px 50px;
  }

  @media (max-width: 900px) {
    padding: 50px 40px;
  }

  span {
    color: $primary-color;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: $different-font-style-2;

    @media (max-width: 900px) {
      font-size: 19px;
    }
  }

  h2 {
    font-size: 80px;
    font-family: $different-font-style;
    font-weight: 600;

    @media (max-width: 900px) {
      font-size: 70px;
    }

    @media (max-width: 600px) {
      font-size: 40px;
    }
  }

  p {
    font-size: 20px;
    line-height: 40px;

    @media (max-width: 900px) {
      font-size: 17px;
    }

    @media (max-width: 600px) {
      font-size: 15px;
    }
  }

  .history-text {
    font-size: 22px;
    color: $black-color;
    line-height: 40px;

    @media (max-width: 900px) {
      font-size: 17px;
    }

    @media (max-width: 600px) {
      font-size: 15px;
      line-height: 30px;
    }
  }
}
