@use "../abstracts/index.scss" as *;

.product-list-wrapper {
  padding: 20px;
  width: 100%;
  display: flex;
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    gap: 16px;

    .products-container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
      width: 100%;
    }

    .no-products {
      width: 100%;
      text-align: center;
      padding: 40px;
      color: #666;
      font-size: 18px;
    }
  }

  .product-price {
    font-size: 16px;
    margin: 5px 0;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

    .original-price {
      text-decoration: line-through;
      color: #888;
    }

    .sale-price {
      font-weight: bold;
      color: $text-color;
    }
  }
}
