@use '../abstracts/index.scss' as *;

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 10px;
  background: #fff;
  text-align: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  width: 30%;
  user-select: none;
  position: relative;
  min-height: 300px;

  .icon-wrapper {
    position: absolute;
    top: 20px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;

    i {
      font-size: 15px;
      color: #ffffff;
      background: #000000;
      padding: 10px;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      transform: translateY(-10px);
      opacity: 0;
      transition:
        transform 0.3s ease,
        opacity 0.3s ease;
      &:hover {
        background-color: $primary-color;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      }
    }

    i:nth-child(1) {
      transition-delay: 0.1s;
    }

    i:nth-child(2) {
      transition-delay: 0.25s;
    }
    i:nth-child(3) {
      transition-delay: 0.45s;
    }
  }

  &:hover .icon-wrapper {
    opacity: 1;
    pointer-events: auto;
  }

  &:hover .icon-wrapper i {
    transform: translateY(0);
    opacity: 1;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .product-img {
    width: 100%;
    min-height: 120px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }
}

.rating {
  margin: 4px 0;

  i {
    color: $primary-color;
  }
}
.product-in-list {
  width: 100%;
  flex-direction: row;
  height: 300px;
  img {
    width: 30% !important;
    height: 100%;
    object-fit: cover;
  }
  .product-inform {
    align-items: start;
    text-align: start;
    width: 70%;
  }
  .product-price {
    justify-content: start;
  }
  // .icon-wrapper{
  //   opacity: 1;
  //   i{
  //     opacity: 1;
  //     top: 200px;
  //   }
  // }
}
