@use '../abstracts/index.scss' as *;

.product-list-wrapper {
  padding: 20px;
  width: 100%;
  @include flex-layout(row, flex-start, stretch);

  @media (max-width: 1170px) {
    flex-wrap: wrap-reverse;
    padding: 40px;
  }

  .product-grid {
    @include flex-layout(row, center, stretch);
    flex-wrap: wrap;
    width: 75%;
    gap: 16px;

    @media (max-width: 1170px) {
      width: 100%;
    }

    .products-container {
      @include flex-layout(row, flex-start, stretch);
      flex-wrap: wrap;
      gap: 20px;
      width: 100%;

      .product-in-list {
        width: 100% !important;
      }

      .product-card {
        width: 100%;

        @media (min-width: 751px) {
          width: calc(50% - 10px);
        }

        @media (min-width: 1024px) {
          width: calc(33.333% - 13.33px);
        }
      }
    }

    .no-products {
      width: 100%;
      text-align: center;
      padding: 40px;
      color: #666;
      font-size: 18px;
    }
  }

  .product-price {
    font-size: 16px;
    margin: 5px 0;
    @include flex-layout(row, center, center);
    gap: 20px;

    .original-price {
      text-decoration: line-through;
      color: #888;
    }

    .sale-price {
      font-weight: bold;
      color: $text-color;
    }
  }
}
